<div class="container" dir="rtl">
  <div class="logo section">

    <a>
      <img alt="Desing Order Platform" src="Content/Logo/MainSiteLogo.jpg" />
      <span>پژمان کوفه ای</span>
    </a>

  </div>
  <div class="links section">

    <a [routerLink]="''">
    <span class="divider"> خانه </span>
    </a>

    <a [routerLink]="'DesignSample'">
      <span class="divider"> نمونه کارها </span>
    </a>

    <a [routerLink]="'Tariff'">
      <span class="divider">  تعرفه ها </span>
    </a>

    <a [routerLink]="'Contact'">
      <span class="divider"> ارتباط با ما </span>
    </a>

    <a [routerLink]="'About'">
      <span class="divider"> در رابطه با ما </span>
    </a>


  </div>
</div>
