div.container {
  width: 100%;
  height: 70px;
  direction: rtl;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "logo links";
  grid-column-gap: 3em;
  background-color: white;
  border-bottom: 5px solid #ff0050;
  margin-top: 4px;
  div.logo {
    grid-area: logo;
    margin-right: 2em;
  }
  div.links {
    grid-area: links;
    display: grid;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "home sample tariff contact about";
    div {
      text-align: center;
      line-height: 3.5em;
      text-decoration: none;
      font-size: 18px;
      height: 100%;
      &:hover {
        background-color: #ff0050;
      }
      cursor: pointer;
      span {
        display: block;
        border-left: 1px solid rgb(209, 209, 209);
        width: 100%;
        height: 90%;
        &:hover {
          border: none;
        }
      }
    }
    div.home {
      grid-area: home;
    }
    div.sample {
      grid-area: sample;
    }
    div.tariff {
      grid-area: tariff;
    }
    div.contact {
      grid-area: contact;
    }
    div.about {
      grid-area: about;
    }
  }
}

div.mobile-container {
  width: 100%;
  height: 70px;
  direction: rtl;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "button . mobile-logo";
  grid-column-gap: 3em;
  align-items: center;
  background-color: white;
  border-bottom: 5px solid #ff0050;
  margin-top: 4px;
  div.mobile-logo {
    grid-area: mobile-logo;
    margin-left: 2em;
  }
  div.button {
    grid-area: button;
    margin-right: 1em;
  }
}
