<div *ngIf="showDesktopWindow" class="container" dir="rtl">
  <div class="logo section">

    <div>
      <img alt="Desing Order Platform" src="./assets/d14.png" />
    </div>

  </div>
  <div class="links section">

    <div class="home" [routerLink]="''">
      <span class="divider"> خانه </span>
    </div>

    <div class="sample" [routerLink]="'DesignSample'">
      <span class="divider"> نمونه کارها </span>
    </div>

    <div class="tarrif" [routerLink]="'Tariff'">
      <span class="divider"> تعرفه ها </span>
    </div>

    <div class="contact" [routerLink]="'Contact'">
      <span class="divider"> ارتباط با ما </span>
    </div>

    <div class="about" [routerLink]="'About'">
      <span class="divider"> در رابطه با ما </span>
    </div>


  </div>
</div>
<div *ngIf="showMobileWindow" class="mobile-container">
  <div class="button">
    <button type="button" mat-raised-button color="primary" (click)="drawer.emit()">
      منو
    </button>
  </div>
  <div class="mobile-logo">

    <div>
      <img alt="Desing Order Platform" src="./assets/d14.png" />
    </div>

  </div>
</div>
